/* position: absolute;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 40px; */

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------------------------------Header------------------------------------------------------ */
header>.main>img{
    position: absolute;
    top: -4px;
    left: -5px;
    margin: 0px;
    height: 654px;
    width: 1374px;

}
 header .main .logo img{
    left: 4px;
    height: 55px;
    POSITION: ABSOLUTE;
    TOP: 4PX;
    WIDTH: 98px;
}
header .main .login_register{
    left: 1257px;
    top: 16px;
    position: absolute;
    height: 36px;
    width: 10px;
}
header .main .login_register .login{
    background: transparent;
    border-color: gray;
    color: white;
    border-radius: 20px;
    left: -92px;
    position: absolute;
    height: 25px;
    width: 74px;
}
header .main .login_register .register{
    background: transparent;
    border-color:gray;
    color: white;
    border-radius: 20px;
    left: -8px;
    position: absolute;
    height: 25px;
    width: 74px;
}
header .main .login_register .login:hover{
    border-color: white;
}
header .main .login_register .register:hover{
    border-color: white;
}
header .main .main_text{
    position: absolute;
    top: 292px;
    left: 431px;
}
header .main .main_text h1{
    color: white;
    position: absolute;
    height: 50px;
    width: 300px;
}
/* --------------------------------------------------Main------------------------------------------------------ */
main .main2a{ 
    position: absolute;
    height: 381px;
    border-radius: 20px;
    top: 700px;
    left: 87px;
    width: 1200px;
    background-color:white;
}
main img{
    height: 220px; 
    width:220px;
    padding: 5px;
    margin: 80px;
    
}
main .main2 .text_details0{
    position: absolute;
    top: 641px;
    left: 388px;
    color: blue;
}
main .main2 .main2a #pep{
    position: relative;
    left: 53px;
    top: -77px;
}
main .main2 .main2a #edu{
    position: relative;
    left: 444px;
    top: -151px;
}
main .main2 .main2a #exp{
    position: relative;
    left: 838px;
    top: -223px;
}

/* main2b */
.main2b{
    position: absolute;
    height: 300px;
    border-radius: 20px;
    top: 1204px;
    left: 87px;
    width: 1200px;
    background-color:whitesmoke;
}
main .main2 .text_details1{
    font-size: 41px;
    position: absolute;
    top: 1098px;
    left: 478px;
    color: red;
}
main .main2 .main2b #loc{
    position: relative;
    height: 210px;
    top: -38px;
    left: -56px;
    width: 294px;
    border-radius: 250px;
}
main .main2 .main2b #pac{
    position: relative;
    height: 210px;
    top: -38px;
    left: 56px;
    width: 294px;
    border-radius: 250px;
}
main .main2 .main2b .list_location{
    position: relative;
    left: 311px;
    top: -268px;
    font-size: 18px;
}
main .main2 .main2b .list_package{
    position: relative;
    left: 890px;
    top: -336px;
    font-size: 18px;
}

/* main2c */
main .main2c{ 
    position: absolute;
    height: 381px;
    border-radius: 20px;
    top: 1600px;
    left: 87px;
    width: 1200px;
    background-color: whitesmoke;
}


main .main2c #relationship_advise{
    position: relative;
    top: -24px;
    left: -8px;
    height: 245px;
    width: 315px;
    border-radius: 20px;
}
main .main2c #relationship_advise:hover{
    /* background-color: white; */
    border: solid white;
}
main .main2c #relationship_advise:active{
    /* background-color: red; */
    border: solid red;
}

main .main2c #professional{
    position: relative;
    top: -24px;
    left: 230px;
    height: 245px;
    width: 315px;
    border-radius: 20px;
}
main .main2c #professional:hover{
    /* background-color: white; */
    border: solid white;
}
main .main2c #professional:active{
    /* background-color: red; */
    border: solid red;
}

main .main2c #convince{
    position: relative;
    top: -443px;
    left: 355px;
    height: 245px;
    width: 315px;
    border-radius: 20px;
}
main .main2c #convince:hover{
    /* background-color: white; */
    border: solid white;
}
main .main2c #convince:active{
    /* background-color: red; */
    border: solid red;
}

/* rd= relationship advise */
main .main2c #rd{ 
    font-size: 24px;
    position: absolute;
    top: 282px;
    left: 171px;
    height: 10px;
    width: 10px;
}
/* prof= professional */
main .main2c #prof{
    font-size: 24px;
    position: absolute;
    top: 282px;
    left: 905px;
    height: 10px;
    width: 10px;
} 
/* convince */
main .main2c #conv{
    font-size: 24px;
    position: absolute;
    top: 282px;
    left: 547px;
    height: 10px;
    width: 10px;
}
/* main2d */
main .main2d{ 
    position: absolute;
    height: 400px;
    border-radius: 20px;
    top: 2048px;
    left: 330px;
    width: 710px;
    background-color: #b1b1b10a;
}

main .main2 .text_details2{
    font-size: 26px;
    position: absolute;
    top: 1534px;
    height: 10px;
    left: 284px;
    color: red;
}

main .main2d #prof2{
    position: relative;
    top: -145px;
    left: 14px;
    height: 380px;
    width: 500px;
    border-radius: 20px;
}
main .main2d #prof2:hover{
    /* background-color: white; */
    border: solid white;
}
main .main2d #prof2:active{
    /* background-color: red; */
    border: solid red;
}
main .main2 .main2d #succ_prof{
    position: relative;
    left: 111px;
    top: -310px;
    font-size: 18px;
}

/* main2e */
main .main2e{ 
    position: absolute;
    height: 360px;
    border-radius: 20px;
    top: 2496px;
    left: 87px;
    width: 1200px;
    background-color: whitesmoke;
}
main .main2e .rev{
    position: relative;
    left: 515px;
    top: 4px;
    font-size: 42px;
}
main .main2e .review2{
    position: relative;
    left: 629px;
    top: -222px;

}
main .main2e .review1{
    position: relative;
    left: 12px;
    top: -1px;
}

/* ================================================================================== */
/* footer  */

footer {
    position: absolute;
    background-color: #e0e0e0;
    height: 600px;
    top: 2880px;
    left: -11px;
    width: 1374px;
}
footer .footer_down{
    position: absolute;
    background-color: darkred;
    height: 150px;
    width: 1363px;
    left: 10px;
    top: 500px;
}
footer .footer_down h2{
    padding: 10px;
    position: absolute;
    color: white;
    left: 31px;
    top: -31px;
    font-size: 40px;
}
footer .footer_down span img{
    position: absolute;
    top: 85px;
    left: 98px;
    height: 50px;
    width: 50px;
}
footer .footer_down span .insta{
    position: absolute;
    top: 60px;
    left: 76px;
    height: 50px;
    width: 50px;
}

footer .footer_down span .facebook{
    position: absolute;
    top: 60px ;
    left: 128px;
    height: 50px;
    width: 50px;
}
footer .footer_down span .twitter{
    position: absolute;
    top: 60px;
    left: 180px;
    height: 50px;
    width: 50px;
}
footer .footer_down #footer_logo{
    position: absolute;
    top: 28px;
    left: 1150px;
    height: 80px;
    width: 166px;
}
footer .footer_main .footer_up{
    background-color: #80808000;
    border-radius: 10px;
    position: absolute;
    top: 13px;
    left: 21px;
    height: 474px;
    width: 1328px;
    display: flex;
    text-align: center;
    justify-content: center;
}
footer .footer_main .footer_up .footer_up-01{
    position: absolute;
    border-radius: 20px;
    background-color: whitesmoke;
    top: 172px;
    left: 35px;
    height: 272px;
    width: 400px;
}
footer .footer_main .footer_up .footer_up-02{
    position: absolute;
    border-radius: 20px;
    background-color: whitesmoke;
    top: 172px;
    height: 272px;
    width: 400px;
}
footer .footer_main .footer_up .footer_up-03{
    position: absolute;
    border-radius: 20px;
    background-color: whitesmoke;
    top: 172px;
    left: 902px;
    height: 272px;
    width: 400px;
}
footer .footer_main .footer_up .footer_up-04{
    position: absolute;
    border-radius: 5px;
    background-color: white;
    top: 446px;
    left: 1298px;
    height: 35px;
    width: 35px;
    padding: 1px;
}
footer .footer_main .footer_up .footer_up-04:hover{
    background-color: whitesmoke;
}
footer .footer_main .footer_up .footer_up-04 img{
    position: absolute;
    top: 8px;
    left: 9px;
    height: 21px;
    width: 20px;

}

footer .footer_main .footer_up h2{
    position: absolute;
    font-size: 28px;
}
/* footer .footer_main .footer_up p{
    position: absolute;
    top: 60px;
    left: 58px;
    text-align: left;
} */

h5{
    color: blue;
    font-size: 26px;
}
h5:hover{
    color: red;
}
